{% extends "base.html" %}

{% block morebody %}
<div style="text-align:center">
<br/>
<br/>
<br/>
<h2>Welcome to the uCORE help.</h2>
<br/>
<br/>
<h4>The application uCORE allows you to do several things with Google Earth.</h4>
<br/>
A. Search for links on the main page<br/>
B. Add links to a custom link library that you can share with anyone.<br/>
C. Earn trophies as you do searches (not fully implemented yet).<br/>
D. Add new links to useful KML.<br/>
E. View and use Google Maps as well as Google Earth. <br/>

<br/>
<br/>
<a href="{{ MEDIA_URL }}/release.txt">Click here for release notes</a>
<br/>
<br/>
</div>
{% endblock %}
